body{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: 50px auto;
}

.hero{
    height: 550px;
    background-size: cover;
    background-image: url(../imagens/topo.jpg);
    
}

.hero nav li, a{
    margin-left: 10px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    list-style-type: none;
    color: rgb(96, 96, 175);
    text-decoration: none;

}

.hero ul{
   background-color: rgb(9, 29, 29);
    padding:10px;
    text-align: right;
    margin-top: 0;
    padding:15px 100px 15px 0;  
    
}

.hero img{
    margin-top: 5px;
    margin-left: 150px;
    float: left;
}
.portifolio{

    margin-top: 80px;
    padding: 50px 100px;
}
.portifolio h1{
    font-size: 35px;
    text-align: center;
    
}
.portifolio p{
    text-align: center;
}
.galery{
    padding: 0 100px;
}
.galery .card{
    float: left;
    margin-left: 25px;
    text-align: center;
}

.about{
    padding: 100px;
    height: 400px;
    margin-top: 400px;
    clear: both;
    background-color: #003d52;
    background-image: url(../imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    color: white;
}
.about h1{
    font-size: 50px;
    text-transform: uppercase;
}
.about p{
    line-height: 1.5;
    padding-right: 350px;
}
.contact p{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color:#003d52;

}
.map{
    border:1px solid blue;
}
footer{
    padding:15px;
    text-align: center;
    background-color: rgb(15, 15, 15);
    color: #065772;
}
